/* setup & begins */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* setup ends */

/* other base styles */

/* remove default spacing */
*,
h1{
    margin: 0;
    padding: 0;
}

/* default image styles */
img{
    width: 100%;
    height: auto;
    display: block;
}

/* make it so we can use rem */
html{
    font-size: 62.5%;
}

/* wrapper styles */
.wrapper{
    max-width: 1200px;
    width: 70%;
    margin: 0 auto;
}

/* basic styling */
body,
input[type="text"],
select,
input[type="text"]::placeholder,
input[type="submit"]{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #1F1F1F;
}

body{
    background-color: #F5F5F5;
    color: #1F1F1F;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

a{
    color:#23636C;
}

h2{
    font-size: 4rem;
    font-weight: 500;
}

/* all form styles */

label{
    font-size: 1.5rem;
}

select,
input[type="number"]{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #E0E0E0;
    background: transparent;
    width: 16rem;
}


select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: 1rem auto;
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
}

select:hover{
    cursor: pointer;
}

select:hover,
select:focus{
    background-color: #EBEBEB;
    border-color: #EBEBEB;
}

select:focus{
    outline: 2px solid #3CAAB9;
}

input[type="number"]{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #E0E0E0;
    background: transparent;
    width: 16rem;
}

input[type="number"]:hover,
input[type="number"]:focus{
    background-color: #EBEBEB;
    border-color: #EBEBEB;
}

input[type="number"]:focus{
    outline: 2px solid #3CAAB9;
}



/* HEADER STYLES */

header{
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.header-layout{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-logo{
    width: 40rem; 
    margin-left: 2px; 
    margin-bottom: 0px;
}

.choose-outcome{
    background-color: white;
    padding: 8rem 5rem 10rem;
    border-radius: 1rem;
    border: 1px solid #E0E0E0;
    text-align: center;
}

.choose-outcome h2{
    margin-bottom: 2rem;
    text-align: center;
}

.choose-outcome select{
    width: 60%;
    margin: 0 auto;
    font-size: 2rem;
    padding: 1rem 1.5rem; 
    border-radius: 0.75rem;
    background-color: #EBEBEB;
    background-size: 1.25rem auto;
    border-color: #EBEBEB;
    color: #707070;
}

.choose-outcome select:hover{
    background-color: #F5F5F5;
    border-color: #F5F5F5;
}

/* INPUT STYLES */

#calculateRiskArea{
    margin: 8rem 0;
    padding: 0rem 5rem;
}

#calculateRiskArea h2{
    margin-bottom: 2rem;
}

#calculateRiskArea button{
    padding: 1rem 1.25rem;
    border-radius: 0.75rem;
    color: #666666;
    background-color: #E0E0E0;
    border: 1px solid #E0E0E0;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 2rem;
}

#calculateRiskArea button:hover{
    cursor: pointer;
    background-color: #EBEBEB;
    border-color: #EBEBEB;
}

#calculateRiskArea button:focus{
    outline: 2px solid #3CAAB9;
}


#calculateRiskArea form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#calculateRiskArea form div:not([hidden]){
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

/* RESULTS */
#outputArea{
    margin-top: 4rem;
    font-size: 2rem;
}

/* FOOTER STYLES */

footer{
    padding: 4rem 0rem;
    color: #707070;
    text-align: center;
}


/* RESPONSIVE STYLES */

@media screen and (max-width: 767px) {
    /* wrapper styles */
    .wrapper{
        width: 80%;
    }

    h2{
        font-size: 2.5rem;
    }

    /* HEADER STYLES */
    header{
        padding-top: 2rem;
        padding-bottom: 4rem;
    }

    .header-logo{
        width: 24rem; 
    }

    .choose-outcome{
        padding: 4rem 2rem 4rem;
    }

    .choose-outcome select{
        width: 100%;
        font-size: 1.8rem;
        background-size: 1rem auto;
    }

    #calculateRiskArea{
        margin: 6rem 0;
        padding: 0rem 2rem;
    }
}

